.error-fallback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-image: url('../bg-error.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.error-message {
    color: var(--red);
    letter-spacing: 1px;
}